<!--suppress HtmlFormInputWithoutLabel -->
<div class="container register-form">
  <h1 class="centered">{{appName}}</h1>

  <form [formGroup]="registerForm" (ngSubmit)="register()">

    <mat-form-field class="full" appearance="fill" [floatLabel]="'never'">
      <input matInput type="text" formControlName="firstName" autocomplete="given-name"
             required minlength="1" maxlength="32" placeholder="First name *">
      <mat-error *ngIf="first_name.invalid" [innerHTML]="getErrorMessage('firstName')"></mat-error>
    </mat-form-field>

    <mat-form-field class="full" appearance="fill" [floatLabel]="'never'">
      <input matInput type="text" formControlName="lastName" autocomplete="family-name"
             required minlength="1" maxlength="32" placeholder="Last name *">
      <mat-error *ngIf="last_name.invalid" [innerHTML]="getErrorMessage('lastName')"></mat-error>
    </mat-form-field>

    <mat-form-field class="full" appearance="fill" [floatLabel]="'never'">
      <input matInput name="email" type="text" formControlName="email" autocomplete="email"
             required minlength="3" maxlength="32" placeholder="email address *">
      <mat-error *ngIf="email.invalid" [innerHTML]="getErrorMessage('email')"></mat-error>
    </mat-form-field>

    <mat-form-field class="full" appearance="fill" [floatLabel]="'never'">
      <input matInput name="telephone" type="tel" formControlName="telephone" autocomplete="tel"
             minlength="10" maxlength="10" placeholder="Phone number">
      <mat-error *ngIf="telephone.invalid" [innerHTML]="getErrorMessage('telephone')"></mat-error>
    </mat-form-field>

    <button type="submit" mat-flat-button color="primary" [disabled]="!registerForm.valid">Next</button>
  </form>
</div>

<div class="button-row flex register-form">
  <button mat-button routerLink="/login">Login</button>
</div>
