form {

  .full {
    width: 100%;
    max-width: 100%;
  }

  label {
    min-width: 100px;
    line-height: 35px;
    @media (max-width: 758px) {
      min-width: 74px;
    }
    @media (max-width: 600px) {
      min-width: auto;
    }
  }

  .flex {
    width: 100%;
    justify-content: center;

    &.start {
      justify-content: flex-start;
    }

    &.space {
      justify-content: space-between;
    }

    & > * {
      margin-right: 8px;
      margin-left: 8px;
      max-width: calc(50% - 8px);
    }

    .full {
      width: 100%;
      max-width: 100%;
    }

    .full-table {
      flex: 1 1 auto;
      width: unset;
      max-width: unset;
    }

    :first-child {
      margin-left: 0;
    }

    :last-child {
      margin-right: 0;
    }
  }

  .radios {
    text-align: center;
    margin-bottom: 16px; // TODO

    :not(:last-child) {
      margin-right: 16px;
    }
  }

  img {
    height: 84px;
    width: 84px;
    border-radius: 50%;
    flex-shrink: 0;
    margin: -4px 0 12px;
    object-fit: cover;
  }

  p {
    a {
      color: white;
    }
  }
}

::ng-deep .mat-form-field-underline {
  display: none !important;
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-subscript-wrapper {
  padding: 0 4px;
  margin-top: 4px;
  position: inherit;
  font-size: 80%;
}

::ng-deep .mat-form-field-appearance-fill .mat-select-arrow-wrapper {
  transform: translateY(0%) !important;
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-infix {
  padding-top: 0 !important;
  width: auto !important;
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  padding-top: 0 !important;
  border-radius: 4px !important;
}

::ng-deep .mat-button-wrapper svg {
  transform: translateY(10%) !important;
}

mat-option {
  img {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    flex-shrink: 0;
    margin: 8px 8px 8px 0;
    object-fit: cover;
  }
}
