table {
  margin-top: 32px;
  width: 100%;
  @media (max-width: 600px) {
    margin-top: 16px;
  }

  img:not(.mat-card-avatar):not(.mat-card-image) {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    flex-shrink: 0;
    margin-top: 6px;
    object-fit: cover;
  }

  .align-right {
    text-align: right;
    justify-content: flex-end;
  }
}
