
mat-sidenav-container {

  ::ng-deep &.mat-drawer-container {
    background-color: inherit;
  }

  height: 100%;

  mat-toolbar {
    &.header {

    }
  }

  .container-main {
    padding: 32px;
    @media (max-width: 600px) {
      padding: 16px;
    }
  }

  mat-sidenav, mat-drawer {
    width: 260px;

    h1 {
      padding: 16px;
      margin: 0;
      @media (max-width: 600px) {
        padding: 12px;
      }
    }

    @media all and (min-width: 599px) {
      overflow: hidden;
    }

    &:hover {
      overflow-y: auto;
    }

    .mat-nav-list {
      padding-bottom: 8px;
    }

    .list-header {
      text-transform: uppercase;
      height: 32px !important;
      padding-bottom: 0;
      margin-bottom: 8px;
      margin-top: 8px;
    }

    .footer {
      height: auto;
      min-height: 64px;
      white-space: unset;
      bottom: 0;
      position: absolute;
    }
  }
}
