<mat-sidenav-container>
  <mat-sidenav #sidenav mode="over" [fixedInViewport]="true">

    <h1 routerLink="/" class="link">{{appName}}</h1>

    <mat-divider></mat-divider>
    <h3 matSubheader class="list-header">Recipient Menu</h3>
    <mat-nav-list>
      <a mat-list-item *ngFor="let menu of recipientMenu" [routerLink]="menu.link"
         routerLinkActive="active" (click)="sidenav.toggle()"><span matLine>{{menu.title}}</span>
      </a>
    </mat-nav-list>

    <ng-template [ngIf]="isManager">
      <mat-divider></mat-divider>
      <h3 matSubheader class="list-header">Manager Menu</h3>
      <mat-nav-list>
        <a mat-list-item *ngFor="let menu of managerMenu" [routerLink]="menu.link"
           routerLinkActive="active" (click)="sidenav.toggle()"><span matLine>{{menu.title}}</span>
        </a>
      </mat-nav-list>
    </ng-template>

    <ng-template [ngIf]="isAdmin">
      <mat-divider></mat-divider>
      <h3 matSubheader class="list-header">Admin Menu</h3>
      <mat-nav-list>
        <a mat-list-item *ngFor="let menu of adminMenu" [routerLink]="menu.link"
           routerLinkActive="active" (click)="sidenav.toggle()"><span matLine>{{menu.title}}</span>
        </a>
      </mat-nav-list>
    </ng-template>

    <mat-toolbar class="footer">
      {{appName}} by DX
    </mat-toolbar>

  </mat-sidenav>

  <mat-sidenav-content>

    <mat-toolbar class="header" color="primary">

      <button (click)="sidenav.toggle()" mat-icon-button aria-label="Menu" class="m-r-full">
        <mat-icon>menu</mat-icon>
      </button>

      <h1 routerLink="/" class="link">{{appName}}</h1>

      <div class="spacer">
      </div>

      <div class="button-row">

        <button mat-icon-button [matMenuTriggerFor]="menuSettings" aria-label="Settings">
          <mat-icon>settings</mat-icon>
        </button>
        <mat-menu #menuSettings="matMenu">
          <button mat-menu-item (click)="toggleTheme()" aria-label="Change theme">
            <mat-icon>color_lens</mat-icon>
            <span>{{isDarkTheme ? 'Light theme' : 'Dark theme'}}</span>
          </button>
          <button mat-menu-item [matMenuTriggerFor]="menuLang" aria-label="Select language">
            <mat-icon>translate</mat-icon>
            <span>Language</span>
          </button>
        </mat-menu>

        <mat-menu #menuLang="matMenu">
          <button mat-menu-item>English</button>
          <button mat-menu-item>Spanish</button>
          <button mat-menu-item>Hmong</button>
        </mat-menu>

        <button mat-icon-button [matMenuTriggerFor]="menuAccount" aria-label="Account">
          <mat-icon>account_circle</mat-icon>
        </button>
        <mat-menu #menuAccount="matMenu">

          <div *ngIf="loggedIn; then loggedInBlock else loggedOutBlock"></div>

          <ng-template #loggedInBlock>
            <button mat-menu-item aria-label="Account">
              <mat-icon>account_circle</mat-icon>
              <span>{{user?.name + ' [' + user?.type + ']'}}</span>
            </button>
            <button mat-menu-item aria-label="Logout" routerLink="/logout">
              <mat-icon>remove_circle_outline</mat-icon>
              <span>Logout</span>
            </button>
          </ng-template>

          <ng-template #loggedOutBlock>
            <button mat-menu-item aria-label="Login" routerLink="/login">
              <mat-icon>sentiment_very_satisfied</mat-icon>
              <span>Login</span>
            </button>
            <button mat-menu-item aria-label="Register" routerLink="/register">
              <mat-icon>person_add</mat-icon>
              <span>Register</span>
            </button>
          </ng-template>

        </mat-menu>

      </div>

    </mat-toolbar>

    <div class="container-main">
      <router-outlet></router-outlet>
    </div>

  </mat-sidenav-content>

</mat-sidenav-container>
