div {
  width: 100%;
  height: 85%;
  display: table;
  overflow: hidden;
  section {
    padding-top: 200px;
    padding-bottom: 52px;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    p {
      margin-bottom: 32px;
    }
  }
}
