<div>
  <section>
    <h1 class="mat-headline">This page is not found... [404]</h1>
    <p class="mat-display-1">🤦‍♂️🤷‍♀️</p>
    <button mat-flat-button color="accent" routerLink="/">Home</button>
  </section>
</div>
