.content {
  display: flex;
  justify-content: space-between;

  @media (max-width: 600px) {
    display: block;
  }

  .badge-desc {
    margin-left: 16px;
    @media (max-width: 600px) {
      margin-left: 0;
      margin-top: 16px;
    }
  }

  .cert-details {
    max-width: 200px;
    overflow-x: hidden;

    @media (max-width: 600px) {
      max-width: 100%;
      margin: 0 !important;
    }
  }

  .mat-list-icon {
    width: 40px !important;
    height: 40px !important;
  }

  img.badge-img {
    max-width: 248px;
    max-height: 248px;

    @media (max-width: 600px) {
      width: 100%;
      height: auto;
      max-width: 100%;
      max-height: unset;
    }
  }

  .title {
    min-width: 248px;
  }
}

mat-form-field {
  width: 96px;
  min-width: 128px;

  ::ng-deep .mat-form-field-wrapper {
    padding-bottom: 0;
  }
}

