<mat-list>
  <div mat-subheader>Share</div>
  <mat-list-item class="link" (click)="action($event, 'email')">
    <mat-icon mat-list-icon>email</mat-icon>
    <div mat-line> Email</div>
    <div mat-line> Send badge as an email attachment</div>
  </mat-list-item>
  <mat-list-item class="link" (click)="action($event, 'tweet')">
    <mat-icon mat-list-icon>share</mat-icon>
    <div mat-line> Twitter</div>
    <div mat-line> Tweet badge on Twitter</div>
  </mat-list-item>
</mat-list>
