<h1 mat-dialog-title>Share badge</h1>
<div mat-dialog-content>
  <p>Email address?</p>

  <mat-form-field class="full" appearance="fill" [floatLabel]="'never'">
    <input matInput type="text" [(ngModel)]="email" autocomplete="email"
           required minlength="3" maxlength="64" placeholder="Email address *">
  </mat-form-field>

</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="email" cdkFocusInitial>Share</button>
</div>
