<div *ngIf="isLoading; then loadingBlock else badgeBlock"></div>
<ng-template #loadingBlock>
  <div class="spinner flex" *ngIf="isLoading">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
<ng-template #badgeBlock>

  <div *ngIf="assertions?.length>0; then assertionBlock else emptyBlock"></div>
  <ng-template #emptyBlock>
    <div class="empty flex center">
      <section>
        <h1 class="mat-headline">Your wallet is empty!</h1>
        <h2>Earn some Badges and they will show up here.</h2>
        <p class="mat-display-1">🙃 🎓 🎁</p>
        <button mat-flat-button color="accent" routerLink="/">Learn More</button>
      </section>
    </div>
  </ng-template>

  <ng-template #assertionBlock>
    <div class="content" fxLayout="row wrap" fxLayoutGap="16px grid">
      <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" fxFlex.md="25%" fxFlex.lg="20%" fxFlex.xl="14%"
           gdAlignColumns="stretch stretch" *ngFor="let assertion of assertions">
        <mat-card class="mat-elevation-z4">

          <mat-card-header>
            <img mat-card-avatar src="{{assertion.badge.issuer.image||'assets/images/avatar_placeholder_large.png'}}"
                 alt="Issuer">
            <mat-card-title class="ellipsis-1-20">{{assertion.badge.issuer.name}}</mat-card-title>
            <mat-card-subtitle class="ellipsis-1-16">{{assertion.badge.issuer.organization.name}}</mat-card-subtitle>
          </mat-card-header>

          <img mat-card-image class="link" src="{{assertion.badge.image||'assets/images/avatar_placeholder_large.png'}}"
               (click)="openAssertionDialog(assertion)" alt="Badge">

          <mat-card-content>
            <mat-card-title>{{assertion.badge.name}}</mat-card-title>
            <mat-card-subtitle>{{assertion.issuedOn | date}}</mat-card-subtitle>

            <p class="ellipsis-4">{{(assertion.badge.description|language:'[en]') || 'Badge description'}}</p>
            <p class="ellipsis-2" *ngIf="assertion.badge.criteria">{{(assertion.badge.criteria|language:'[en]')}}</p>

          </mat-card-content>

          <div class="spacer"></div>

          <mat-card-actions>
            <button class="caps" mat-button (click)="openShareBottomSheet(assertion)">Share</button>
            <button class="caps" mat-button (click)="openAssertionDialog(assertion)">View</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </ng-template>
</ng-template>





