@import "../../../../mixins";

.empty {
  padding-top: 172px;
  padding-bottom: 32px;
  justify-content: center;
  margin: 32px;
}

.spinner {
  justify-content: center;
  margin: 16px;
}

.ellipsis-1-20 {
  @include ellipsis(1, 20px, 1.2);
}

.ellipsis-1-16 {
  @include ellipsis(1, 14px, 1.2);
}

.ellipsis-4 {
  @include ellipsis();
}

.ellipsis-2 {
  @include ellipsis(2);
}
