<!--suppress HtmlFormInputWithoutLabel -->
<div class="container login-form">
  <h1 class="centered">{{appName}}</h1>

  <form [formGroup]="loginForm" (ngSubmit)="login()">

    <mat-form-field class="full" appearance="fill" [floatLabel]="'never'">
      <input matInput name="email" type="text" formControlName="email" placeholder="email address"
             required minlength="3" maxlength="32" autocomplete="email">
      <mat-error *ngIf="email.invalid" [innerHTML]="getErrorMessage('email')"></mat-error>
    </mat-form-field>

    <button type="submit" mat-flat-button color="primary" [disabled]="!loginForm.valid">Next</button>
  </form>
</div>

<div class="button-row flex login-form">
  <button mat-button routerLink="/register">Register</button>
</div>
