button {
  text-transform: uppercase;
}

.container {
  height: auto;

  &.login-form {
    width: 288px;
    margin: 0 auto;
    padding-top: 148px;
    @media (max-width: 600px) {
      padding-top: 182px;
    }
  }

  &.register-form {
    margin: 0 auto;
    padding-top: 94px;
    width: 300px;
  }

  @media (max-width: 320px) {
    width: 280px;
  }

  h1 {
    margin-bottom: 48px;
  }

  form {
    text-align: center;
  }

  button {
    border-radius: 20px;
    letter-spacing: 2px;
    text-align: center;
    width: 100%;
    min-height: 40px;
  }
}

.button-row {
  &.login-form,
  &.register-form {
    padding: 48px 0 64px 0;
    @media (max-width: 600px) {
      padding: 32px 0 64px 0;
    }
  }

  align-items: center;
  justify-content: center;

  button {
    margin: 6px 0;
  }

  @media (max-width: 600px) {
    flex-direction: column;
  }
}
