<h1 class="center">Organization Management</h1>

<mat-tab-group mat-align-tabs="center">

  <mat-tab label="All Organizations">

    <div class="tab-all">

      <table mat-table [dataSource]="organizations" class="mat-elevation-z8">

        <!-- Image Column -->
        <ng-container matColumnDef="image">
          <th mat-header-cell *matHeaderCellDef> Image</th>
          <td mat-cell *matCellDef="let element">
            <img class="avatar" alt="Organization image"
                 [src]="element.image||'assets/images/avatar_placeholder_large.png'">
          </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name</th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <!-- Email Column -->
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef> Email</th>
          <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>

        <!-- Tel Column -->
        <ng-container matColumnDef="telephone">
          <th mat-header-cell *matHeaderCellDef> Telephone</th>
          <td mat-cell *matCellDef="let element"> {{element.telephone}} </td>
        </ng-container>

        <!-- Url Column -->
        <ng-container matColumnDef="url">
          <th mat-header-cell *matHeaderCellDef> URL</th>
          <td mat-cell *matCellDef="let element"> {{element.url}} </td>
        </ng-container>

        <!-- Id Column -->
        <ng-container matColumnDef="_id">
          <th mat-header-cell *matHeaderCellDef> Id</th>
          <td mat-cell *matCellDef="let element"> {{element._id}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

    </div>

  </mat-tab>

  <mat-tab label="Create New Organization">

    <div class="tab-create flex">

      <form class="create-form flex" [formGroup]="createForm" #formCDirective="ngForm"
            (ngSubmit)="onCreate(createForm, formCDirective)">

        <div class="flex">
          <label for="name">Name</label>
          <mat-form-field class="full" appearance="fill" [floatLabel]="'never'">
            <input id="name" matInput type="text" formControlName="name" autocomplete="given-name"
                   required minlength="3" maxlength="64" placeholder="Organization name">
            <mat-error *ngIf="name.invalid" [innerHTML]="getErrorMessage('name')"></mat-error>
          </mat-form-field>
        </div>

        <div class="flex">
          <label for="url">URL</label>
          <mat-form-field class="full" appearance="fill" [floatLabel]="'never'">
            <input id="url" matInput type="url" formControlName="url" autocomplete="url"
                   required minlength="5" maxlength="64" placeholder="Organization website">
            <mat-error *ngIf="url.invalid" [innerHTML]="getErrorMessage('url')"></mat-error>
          </mat-form-field>
        </div>

        <div class="flex">
          <label for="email">Email</label>
          <mat-form-field appearance="fill" [floatLabel]="'never'">
            <input id="email" matInput name="email" type="email" formControlName="email" required autocomplete="email"
                   placeholder="Email address">
            <mat-error *ngIf="email.invalid" [innerHTML]="getErrorMessage('email')"></mat-error>
          </mat-form-field>

          <div class="spacer hide-mobile"></div>

          <label for="telephone">Telephone</label>
          <mat-form-field appearance="fill" [floatLabel]="'never'">
            <input id="telephone" matInput type="tel" formControlName="telephone" autocomplete="tel"
                   minlength="10" maxlength="10" placeholder="10 digit number">
            <mat-error *ngIf="telephone.invalid" [innerHTML]="getErrorMessage('telephone')"></mat-error>
          </mat-form-field>
        </div>

        <div class="flex">
          <label for="description">Description</label>
          <mat-form-field class="full" appearance="fill" [floatLabel]="'never'">
            <textarea id="description" matInput type="text" formControlName="description"
                      placeholder="Organization description" rows="3"></textarea>
          </mat-form-field>
        </div>

        <div class="flex m-t-half">
          <img class="avatar" alt="Organization image" (click)="file.click()"
               [src]="imageSrc||'assets/images/avatar_placeholder_large.png'">
          <input #file hidden type="file" accept="image/*" (change)="onFileChange($event)"
                 (click)="file.value=imageSrc=null">
        </div>

        <div class="flex m-t-full">
          <button type="submit" mat-flat-button color="primary" [disabled]="!createForm.valid">Create</button>
        </div>

      </form>

    </div>

  </mat-tab>

</mat-tab-group>
