.tab-create {
  justify-content: center;

  .create-form {
    margin: 32px;
    width: 100%;
    max-width: 800px;
    flex-direction: column;
    @media (max-width: 600px) {
      margin: 16px;
    }
  }

  mat-form-field {
    width: 248px;
  }

  button:not(.mat-icon-button) {
    min-width: 144px;
  }
}
