label {
  min-width: 100px;
  line-height: 35px;
  @media (max-width: 758px) {
    min-width: 74px;
  }
  @media (max-width: 600px) {
    min-width: auto;
  }
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  padding-top: 0;
  border-radius: 4px;
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-infix {
  padding-top: 0;
  width: auto;
}

::ng-deep .mat-form-field-underline {
  display: none;
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-subscript-wrapper {
  padding: 0 4px;
  margin-top: 4px;
  position: inherit;
  font-size: 80%;
}

::ng-deep .mat-form-field-appearance-fill .mat-select-arrow-wrapper {
  transform: translateY(0%);
}

::ng-deep .mat-button-wrapper svg {
  transform: translateY(10%);
}

.flex {
  width: 100%;
  justify-content: center;

  &.space {
    justify-content: space-between;
  }

  & > * {
    margin-right: 8px;
    margin-left: 8px;
    max-width: calc(50% - 8px);
  }

  .full {
    width: 100%;
    max-width: 100%;
  }

  .full-table {
    flex: 1 1 auto;
    width: unset;
    max-width: unset;
  }

  :first-child {
    margin-left: 0;
  }

  :last-child {
    margin-right: 0;
  }
}
