<h1 mat-dialog-title>Assign Program to {{data.recipient.name}}</h1>

<div mat-dialog-content>
  <p>Please select a program</p>
  <div class="flex m-t-double">
    <label for="issuer">Issuer</label>
    <mat-form-field appearance="fill" [floatLabel]="'never'" class="full">
      <mat-select id="issuer" [(ngModel)]="data.issuer" required>
        <mat-option *ngFor="let issuer of data.issuers" [value]="issuer._id">{{issuer.name}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
<div mat-dialog-actions class="flex space">
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-flat-button [mat-dialog-close]="data.issuer" cdkFocusInitial color="primary">Assign</button>
</div>
