<h1 mat-dialog-title>Recipient Details</h1>

<form class="update-form flex" [formGroup]="updateForm">

  <div class="flex">
    <label for="name">Name</label>
    <mat-form-field appearance="fill" [floatLabel]="'never'" [class.full]="!isAdmin">
      <input id="name" matInput type="text" formControlName="name" autocomplete="given-name"
             required minlength="3" maxlength="64" placeholder="{{isAdmin?'Full name *':'Recipient\'s full name *'}}">
      <mat-error *ngIf="name.invalid" [innerHTML]="getErrorMessage('name')"></mat-error>
    </mat-form-field>

    <div class="spacer hide-mobile" *ngIf="isAdmin"></div>

    <label for="type" *ngIf="isAdmin">Type</label>
    <mat-form-field appearance="fill" [floatLabel]="'never'" *ngIf="isAdmin">
      <mat-select id="type" formControlName="type" required>
        <mat-option value="Profile">Profile</mat-option>
        <mat-option value="Manager">Manager</mat-option>
        <mat-option value="Admin">Admin</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="flex">
    <label for="email">Email</label>
    <mat-form-field appearance="fill" [floatLabel]="'never'">
      <input id="email" matInput name="email" type="email" formControlName="email" required autocomplete="email"
             class="disabled" placeholder="Email address *" readonly>
      <mat-error *ngIf="email.invalid" [innerHTML]="getErrorMessage('email')"></mat-error>
    </mat-form-field>

    <div class="spacer hide-mobile"></div>

    <label for="telephone">Telephone</label>
    <mat-form-field appearance="fill" [floatLabel]="'never'">
      <input id="telephone" matInput type="tel" formControlName="telephone" autocomplete="tel"
             minlength="10" maxlength="10" placeholder="10 digit number">
      <mat-error *ngIf="telephone.invalid" [innerHTML]="getErrorMessage('telephone')"></mat-error>
    </mat-form-field>
  </div>

  <!-- Lyles Center -->
  <div class="flex">
    <label for="school-name">School Name</label>
    <mat-form-field appearance="fill" [floatLabel]="'never'">
      <input id="school-name" matInput type="text" formControlName="schoolName" placeholder="Institute name">
    </mat-form-field>

    <div class="spacer hide-mobile"></div>

    <label for="grade-level">Grade Level</label>
    <mat-form-field appearance="fill" [floatLabel]="'never'">
      <input id="grade-level" matInput type="text" formControlName="gradeLevel" placeholder="1st, 2nd...">
    </mat-form-field>
  </div>

  <div class="flex">
    <label for="description">Description</label>
    <mat-form-field class="full" appearance="fill" [floatLabel]="'never'">
            <textarea id="description" matInput type="text" formControlName="description"
                      placeholder="Profile description" rows="3"></textarea>
    </mat-form-field>
  </div>

  <div class="flex m-t-half">
    <div class="flex m-t-half">
      <img class="avatar" alt="User avatar" (click)="file.click()"
           [src]="avatarSrc||'assets/images/avatar_placeholder_large.png'">
      <input #file hidden type="file" accept="image/*" (change)="onFileChange($event)"
             (click)="file.value=avatarSrc=null">
    </div>
  </div>

  <div mat-dialog-actions class="flex space">
    <button type="submit" mat-flat-button [mat-dialog-close]="{recipient:updateForm.value, avatarSrc: avatarSrc}"
            [disabled]="!updateForm.valid" color="accent">Update
    </button>
    <button type="button" mat-button (click)="onNoClick()" cdkFocusInitial>Close</button>
  </div>

</form>
