@mixin input-filler() {
  -webkit-appearance: none;
  -webkit-font-smoothing: antialiased;
  background-color: transparent;
  border: none;
  box-shadow: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  max-width: 100%;
  outline: none;
  text-align: inherit;
  width: 100%;
  -ms-flex: 1 1 0.000000001px;
  -webkit-flex: 1;
  flex: 1;
  -webkit-flex-basis: 0.000000001px;
  flex-basis: 0.000000001px;
  padding: 7px 8px 6px 8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@mixin input-bg-filler() {
  width: 100%;
  border-width: 1px;
  border-style: solid;
  border-radius: 2px 0 0 2px;
  border-right: none;
  @media (max-width: 600px) {
    border-radius: 2px;
  }
}

.tab-search {
  .search-holder {
    padding-top: 32px;
    justify-content: center;
    @media (max-width: 600px) {
      padding-top: 16px;
    }

    .search-form {
      width: 100%;
      max-width: 550px;

      button {
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
      }

      .search-input {
        @include input-bg-filler();

        input {
          @include input-filler();
        }
      }
    }
  }
}

.tab-create,
.tab-update {
  justify-content: center;

  .create-form,
  .update-form {
    margin: 32px;
    width: 100%;
    max-width: 800px;
    flex-direction: column;
    @media (max-width: 600px) {
      margin: 16px;
    }
  }

  mat-form-field {
    width: 248px;
  }

  button:not(.mat-icon-button) {
    min-width: 144px;
  }
}

table {
  tr.table-detail-row {
    height: 0;
  }

  .table-element-row td {
    border-bottom-width: 0;
  }

  .table-element-detail {
    overflow: hidden;
    display: flex;
  }

  .table-element-content {
    width: 100%;
    padding: 16px 0;
  }
}
