<h1 class="center">Recipient Management</h1>

<mat-tab-group mat-align-tabs="center" selectedIndex="0">

  <mat-tab label="Search">

    <div class="tab-search">

      <div class="search-holder flex">
        <form class="search-form flex" [formGroup]="searchForm" (ngSubmit)="onSearch()">
          <div class="search-input">
            <input name="search" type="search" formControlName="search" placeholder="Search" autocomplete="search">
          </div>
          <button class="btn-search" mat-raised-button aria-label="Search">
            <mat-icon>search</mat-icon>
          </button>
        </form>

      </div>

      <table mat-table [dataSource]="searchRecipients" multiTemplateDataRows class="mat-elevation-z8"
             matSort matSortActive="name" matSortDisableClear matSortDirection="desc">

        <!-- Image Column -->
        <ng-container matColumnDef="image">
          <th mat-header-cell *matHeaderCellDef> Avatar</th>
          <td mat-cell *matCellDef="let element">
            <img class="avatar" alt="User avatar" [src]="element.image||'assets/images/avatar_placeholder_large.png'">
          </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear> Name</th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <!-- Email Column -->
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Email</th>
          <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>

        <!-- School Name Column -->
        <ng-container matColumnDef="schoolName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear> School Name</th>
          <td mat-cell *matCellDef="let element"> {{element.schoolName}} </td>
        </ng-container>

        <!-- Grade Level Column -->
        <ng-container matColumnDef="gradeLevel">
          <th mat-header-cell *matHeaderCellDef> Grade Level</th>
          <td mat-cell *matCellDef="let element"> {{element.gradeLevel}} </td>
        </ng-container>

        <!-- Issued Badges Column -->
        <ng-container matColumnDef="issued_badges">
          <th mat-header-cell *matHeaderCellDef> Issued Badges</th>
          <td mat-cell *matCellDef="let element" class="link hover-underline"
              (click)="expandedElement = expandedElement === element ? null : element">
            {{element.issuedBadges ? element.issuedBadges.length : 0}}
          </td>
        </ng-container>

        <!-- Action Column -->
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> Actions</th>
          <td mat-cell *matCellDef="let element">

            <button mat-icon-button [matMenuTriggerFor]="menuSearch" aria-label="Recipient actions">
              <mat-icon>more_vert</mat-icon>
            </button>

            <mat-menu #menuSearch="matMenu">
              <button mat-menu-item (click)="openRecipientDetailsDialog(element)">
                <span>View details / Edit</span>
              </button>
              <button mat-menu-item disabled>
                <span>See badges</span>
              </button>
              <button *ngIf="isAdmin" mat-menu-item (click)="openAssignIssuerDialog(element)">
                <span>Issuer Assignment</span>
              </button>
            </mat-menu>

          </td>
        </ng-container>

        <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
        <ng-container matColumnDef="expandedDetail">
          <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
            <div class="table-element-detail"
                 [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
              <div *ngIf="element.issuedBadges && element.issuedBadges.length>0"
                   class="table-element-content" fxLayout="row wrap" fxLayoutGap="16px grid">

                <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" fxFlex.md="25%" fxFlex.lg="20%" fxFlex.xl="14%"
                     gdAlignColumns="stretch stretch" *ngFor="let assertion of element.issuedBadges">
                  <mat-card>
                    <mat-card-header>
                      <img mat-card-avatar
                           src="{{assertion.badge.issuer.image||'assets/images/avatar_placeholder_large.png'}}">
                      <mat-card-title class="ellipsis-1-20">{{assertion.badge.issuer.name}}</mat-card-title>
                      <mat-card-subtitle  class="ellipsis-1-16">{{assertion.badge.issuer.organization.name}}</mat-card-subtitle>
                    </mat-card-header>

                    <img mat-card-image src="{{assertion.badge.image||'assets/images/avatar_placeholder_large.png'}}">

                    <mat-card-content>
                      <mat-card-title>{{assertion.badge.name}}</mat-card-title>
                      <mat-card-subtitle>{{assertion.issuedOn | date}}</mat-card-subtitle>

                      <p class="ellipsis-4">{{assertion.badge.description || 'Badge description'}}</p>
                      <p class="ellipsis-2" *ngIf="assertion.badge.criteria">{{assertion.badge.criteria}}</p>
                    </mat-card-content>
                  </mat-card>
                </div>

              </div>

            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <!--tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr-->

        <tr mat-row *matRowDef="let element; columns: displayedColumns;" class="table-element-row"
            [class.table-expanded-row]="expandedElement === element">
        </tr>
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="table-detail-row"></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>

          <ng-template [ngIf]="searchForm.value.search" [ngIfElse]="loadingRecipients">
            <td class="mat-cell" colspan="4">
              No data matching the filter "{{searchForm.value.search}}"
            </td>
          </ng-template>

          <ng-template #loadingRecipients>
            <td class="mat-cell" colspan="4">
              Loading recipients...
            </td>
          </ng-template>

        </tr>
      </table>

      <mat-paginator [length]="searchResultTotalCount" [pageSize]="searchResultPerPage"></mat-paginator>

    </div>

  </mat-tab>

  <mat-tab label="Create">

    <div class="tab-create flex">

      <form class="create-form flex" [formGroup]="createForm" #formCDirective="ngForm"
            (ngSubmit)="onCreate(createForm, formCDirective)">

        <div class="flex">
          <label for="c-f-name">First Name</label>
          <mat-form-field appearance="fill" [floatLabel]="'never'">
            <input id="c-f-name" matInput type="text" formControlName="firstName" autocomplete="given-name"
                   required minlength="1" maxlength="32" placeholder="Recipient's first name *">
            <mat-error *ngIf="c_first_name.invalid" [innerHTML]="getCErrorMessage('firstName')"></mat-error>
          </mat-form-field>

          <div class="spacer hide-mobile"></div>

          <label for="c-l-name">Last Name</label>
          <mat-form-field appearance="fill" [floatLabel]="'never'">
            <input id="c-l-name" matInput type="text" formControlName="lastName" autocomplete="family-name"
                   required minlength="1" maxlength="32" placeholder="Recipient's last name *">
            <mat-error *ngIf="c_last_name.invalid" [innerHTML]="getCErrorMessage('lastName')"></mat-error>
          </mat-form-field>
        </div>

        <div class="flex">
          <label for="c-email">Email</label>
          <mat-form-field appearance="fill" [floatLabel]="'never'">
            <input id="c-email" matInput name="email" type="email" formControlName="email" required
                   autocomplete="email" placeholder="Email address *">
            <mat-error *ngIf="c_email.invalid" [innerHTML]="getCErrorMessage('email')"></mat-error>
          </mat-form-field>

          <div class="spacer hide-mobile"></div>

          <label for="c-telephone">Telephone</label>
          <mat-form-field appearance="fill" [floatLabel]="'never'">
            <input id="c-telephone" matInput type="tel" formControlName="telephone" autocomplete="tel"
                   minlength="10" maxlength="10" placeholder="10 digit number">
            <mat-error *ngIf="c_telephone.invalid" [innerHTML]="getCErrorMessage('telephone')"></mat-error>
          </mat-form-field>
        </div>

        <!-- Lyles Center -->
        <div class="flex">
          <label for="c-school-name">School Name</label>
          <mat-form-field appearance="fill" [floatLabel]="'never'">
            <input id="c-school-name" matInput type="text" formControlName="schoolName" placeholder="Institute name">
          </mat-form-field>

          <div class="spacer hide-mobile"></div>

          <label for="c-grade-level">Grade Level</label>
          <mat-form-field appearance="fill" [floatLabel]="'never'">
            <input id="c-grade-level" matInput type="text" formControlName="gradeLevel" placeholder="1st, 2nd...">
          </mat-form-field>
        </div>

        <div class="flex start" *ngIf="isAdmin">
          <label for="c-type">Type</label>
          <mat-form-field appearance="fill" [floatLabel]="'never'">
            <mat-select id="c-type" formControlName="type" required>
              <mat-option value="Profile">Recipient</mat-option>
              <mat-option value="Manager">Manager</mat-option>
              <mat-option value="Admin">Admin</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="flex">
          <label for="c-description">Description</label>
          <mat-form-field class="full" appearance="fill" [floatLabel]="'never'">
            <textarea id="c-description" matInput type="text" formControlName="description"
                      placeholder="Profile description" rows="3"></textarea>
          </mat-form-field>
        </div>

        <div class="flex m-t-half">
          <img class="avatar" alt="User avatar" (click)="c_file.click()"
               [src]="avatarCSrc||'assets/images/avatar_placeholder_large.png'">
          <input #c_file hidden type="file" accept="image/*" (change)="onCFileChange($event)"
                 (click)="c_file.value=avatarCSrc=null">
        </div>

        <div class="flex m-t-full">
          <button type="submit" mat-flat-button color="primary" [disabled]="!createForm.valid">Create</button>
        </div>

      </form>

    </div>

  </mat-tab>

</mat-tab-group>


