// RESET ----------------------------------------------------------------------------
html, body {
  /* Adjust font size */
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  /* Font varient */
  font-variant-ligatures: none;
  -webkit-font-variant-ligatures: none;
  /* Smoothing */
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  //noinspection CssUnknownProperty
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
}

html, body, .app-container {
  margin: 0;
  padding: 0;
  border: 0;
  height: 100%;
  overflow: auto;
}

* {
  box-sizing: border-box;
}
