a, a:visited, a:hover, a:active {
  text-decoration: none;
  color: inherit;
}

.link {
  cursor: pointer;

  &:focus {
    outline: 0;
  }
}

hr {
  display: block;
  height: 1px;
  border: 0;
  margin: 1em 0;
  padding: 0;
}

img {
  -o-object-fit: cover;
  object-fit: cover;
}

.caps {
  text-transform: uppercase !important;
}

.underline {
  text-decoration: underline;
}

.hover-underline:hover {
  text-decoration: underline;
}

.flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.flex-grow, .spacer {
  flex: 1 1 auto;
}

.center, .centered, .center-text {
  text-align: center;
}

.m-t-half {
  margin-top: 8px !important;
}

.m-t-full {
  margin-top: 16px !important;
}

.m-t-one-half {
  margin-top: 24px !important;
}

.m-t-double {
  margin-top: 32px !important;
}

.m-t-triple {
  margin-top: 40px !important;
}

.m-t-quad {
  margin-top: 48px !important;
}

.m-t-zero {
  margin-top: 0 !important;
}

.m-b-zero {
  margin-bottom: 0 !important;
}

.m-b-full {
  margin-bottom: 16px !important;
}

.m-b-one-half {
  margin-bottom: 24px !important;
}

.m-b-double {
  margin-bottom: 32px !important;
}

.m-r-full {
  margin-right: 16px !important;
}

.m-l-full {
  margin-left: 16px !important;
}

.show-mobile {
  @media all and (min-width: 600px) {
    display: none !important;
  }
}

.hide-mobile {
  @media all and (max-width: 600px) {
    display: none !important;
  }
}
