@import '~@angular/material/theming';

@include mat-core();

$mat-fs-red: (
  50 : #f8e3e6,
  100 : #edb8c1,
  200 : #e28998,
  300 : #d6596e,
  400 : #cd364f,
  500 : #c41230,
  600 : #be102b,
  700 : #b60d24,
  800 : #af0a1e,
  900 : #a20513,
  A100 : #ffcdd0,
  A200 : #ff9a9f,
  A400 : #ff676f,
  A700 : #ff4d57,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$mat-fs-blue: (
  50 : #e3e5ea,
  100 : #b8bfc9,
  200 : #8994a6,
  300 : #5a6982,
  400 : #364867,
  500 : #13284c,
  600 : #112445,
  700 : #0e1e3c,
  800 : #0b1833,
  900 : #060f24,
  A100 : #6085ff,
  A200 : #2d5eff,
  A400 : #003af9,
  A700 : #0034e0,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);


@mixin custom-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);

  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  .app-container, .container-main {
    background-color: mat-color($background, background);
  }
}

$light-primary: mat-palette($mat-fs-blue);
$light-accent: mat-palette($mat-pink, A200, A100, A400);
$light-warn: mat-palette($mat-red);
$light-theme: mat-light-theme((color: (primary: $light-primary, accent: $light-accent, warn: $light-warn)));
$light-background: map-get($light-theme, background);
$light-background: map_merge($light-background, (background: #eeeeee));
$light-theme: map_merge($light-theme, (background: $light-background));

$dark-primary: mat-palette($mat-fs-red);
$dark-accent: mat-palette($mat-pink, A400, A100, A700);
$dark-warn: mat-palette($mat-red);
$dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);
$dark-background: map-get($dark-theme, background);
$dark-background: map_merge($dark-background, (background: #1f1f1f));
$dark-theme: map_merge($dark-theme, (background: $dark-background));

@include angular-material-theme($light-theme);
@include custom-theme($light-theme);

.dark-theme {
  color: $light-primary-text;
  @include angular-material-theme($dark-theme);
  @include custom-theme($dark-theme);
}

/* ------------------------ UNIVERSAL -------------------------- */

.text-light {
  color: $light-primary-text;
}

.text-light-secondary {
  color: $light-secondary-text;
}

.text-dark {
  color: $dark-primary-text;
}

.text-dark-secondary {
  color: $dark-secondary-text;
}

.hover-accent:hover {
  color: mat-color($light-accent, 500) !important;
}

mat-card {
  display: flex !important;
  flex-direction: column !important;
}

//.table-dark {
//  background-color: mat-color($dark-background, app-bar) !important;
//}

/* -------------------------- DIVIDERS --------------------------- */

hr {
  background-color: $dark-dividers;
}

/* -------------------------- FORMS --------------------------- */

input.disabled {
  color: $dark-secondary-text;
}

/* --------------------- CUSTOM SEARCH BAR ----------------------- */

.search-form {
  .search-input {
    background-color: darken(mat-color($light-background, app-bar), 9%);
    border-color: darken(mat-color($light-background, app-bar), 18%);
    box-shadow: inset 0 1px 2px darken(mat-color($light-background, app-bar), 12%);

    input {
      color: $dark-primary-text;
    }
  }

  button.btn-search {
    background-color: darken(mat-color($light-background, app-bar), 2%);
    border-color: darken(mat-color($light-background, app-bar), 16%);
    box-shadow: inset 0 1px 2px darken(mat-color($light-background, app-bar), 12%);
  }
}


/* -------------------------- OTHERS -------------------------- */

.mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: darken(mat-color($light-background, app-bar), 9%);
  box-shadow: inset 0 1px 2px darken(mat-color($light-background, app-bar), 12%);
}

.mat-snack-bar-container.snack-bar-error {
  background: mat-color($light-warn);
  color: $light-primary-text;
}

.mat-snack-bar-container.snack-bar-success {
  background: mat-color(mat-palette($mat-green, 500));
  color: $light-primary-text;
}

table {
  .mat-card {
    background: darken(mat-color($light-background, app-bar), 4%) !important;
  }
}

.mat-card-image {
  background-color: darken(mat-color($light-background, app-bar), 4%) !important;
}

mat-nav-list .active {
  background-color: darken(mat-color($light-background, app-bar), 4%) !important;
}

/* --------------------------------------------------------------- */
/* -------------------------- DARK THEME ------------------------- */
/* --------------------------------------------------------------- */

.dark-theme {

  /* -------------------------- DIVIDERS --------------------------- */

  hr {
    background-color: $light-dividers;
  }

  //.table-dark {
  //  background-color: mat-color($light-background, app-bar) !important;
  //}

  /* -------------------------- FORMS --------------------------- */

  input.disabled {
    color: $light-secondary-text;
  }

  /* --------------------- CUSTOM SEARCH BAR --------------------- */

  .search-form {
    .search-input {
      background-color: lighten(mat-color($dark-background, app-bar), 9%);
      border-color: lighten(mat-color($dark-background, app-bar), 12%);
      box-shadow: none;

      input {
        color: $light-primary-text;
      }
    }

    button.btn-search {
      background-color: darken(mat-color($dark-background, app-bar), 4%);
      border-color: lighten(mat-color($dark-background, app-bar), 6%);
      box-shadow: none;
    }
  }

  /* -------------------------- OTHERS -------------------------- */

  .mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: lighten(mat-color($dark-background, app-bar), 9%);
    box-shadow: none;
  }

  table {
    .mat-card {
      background: lighten(mat-color($dark-background, app-bar), 4%) !important;
    }
  }

  .mat-card-image {
    background-color: lighten(mat-color($dark-background, app-bar), 4%) !important;
  }

  mat-nav-list .active {
    background-color: lighten(mat-color($dark-background, app-bar), 4%) !important;
  }
}

