<h1 class="center">Badge Management</h1>

<form class="select-form center m-t-one-half">

  <mat-form-field appearance="fill" [floatLabel]="'never'">
    <mat-select placeholder="Select a Program">
      <mat-option *ngFor="let issuer of issuers" [value]="issuer._id"
                  (onSelectionChange)="onProgSelect($event)">
        {{issuer.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

</form>

<mat-tab-group mat-align-tabs="center" selectedIndex="2">

  <mat-tab label="All Badges">

    <div class="tab-all">

      <table mat-table [dataSource]="badges" class="mat-elevation-z8">

        <!-- Image Column -->
        <ng-container matColumnDef="image">
          <th mat-header-cell *matHeaderCellDef> Image</th>
          <td mat-cell *matCellDef="let element">
            <img class="avatar" alt="Badge image"
                 [src]="element.image||'assets/images/avatar_placeholder_large.png'">
          </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name</th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="#">
          <th mat-header-cell *matHeaderCellDef> # Badges Issued</th>
          <td mat-cell *matCellDef="let element"> {{element.num ? element.num : 0}} </td>
        </ng-container>

        <!-- Criteria Column -->
        <ng-container matColumnDef="criteria">
          <th mat-header-cell *matHeaderCellDef> Criteria</th>
          <td mat-cell *matCellDef="let element"> {{element.criteria}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedBadgesColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedBadgesColumns;"></tr>
      </table>

    </div>

  </mat-tab>

  <mat-tab label="Create New Badge">

    <div class="tab-create flex">

      <form class="create-form flex" [formGroup]="createForm" #formCDirective="ngForm"
            (ngSubmit)="onCreate(createForm, formCDirective)">

        <div class="flex">
          <label for="c-name">Name</label>
          <mat-form-field class="full" appearance="fill" [floatLabel]="'never'">
            <input id="c-name" matInput type="text" formControlName="name" autocomplete="given-name"
                   required minlength="3" maxlength="64" placeholder="Badge name *">
            <mat-error *ngIf="c_name.invalid" [innerHTML]="getCErrorMessage('name')"></mat-error>
          </mat-form-field>

          <!--div class="spacer hide-mobile"></div>

          <label for="c-expiration-date">Expiration Date</label>
          <mat-form-field appearance="fill" [floatLabel]="'never'">
            <input id="c-expiration-date" matInput [matDatepicker]="c_picker" formControlName="expirationDate"
                   placeholder="Expiry date (optional)" [min]="minDate">
            <mat-datepicker-toggle matSuffix [for]="c_picker"></mat-datepicker-toggle>
            <mat-datepicker #c_picker></mat-datepicker>
          </mat-form-field-->
        </div>

        <div class="flex">
          <label for="c-criteria">Criteria</label>
          <mat-form-field class="full" appearance="fill" [floatLabel]="'never'">
            <textarea id="c-criteria" matInput type="text" formControlName="criteria"
                      placeholder="Badge criteria" rows="2"></textarea>
          </mat-form-field>
        </div>

        <div class="flex">
          <label for="c-alignment">Alignment</label>
          <mat-form-field class="full" appearance="fill" [floatLabel]="'never'">
            <textarea id="c-alignment" matInput type="text" formControlName="alignment"
                      placeholder="Badge alignment" rows="2"></textarea>
          </mat-form-field>
        </div>

        <div class="flex">
          <label for="c-description">Description</label>
          <mat-form-field class="full" appearance="fill" [floatLabel]="'never'">
            <textarea id="c-description" matInput type="text" formControlName="description"
                      placeholder="Badge description" rows="3"></textarea>
          </mat-form-field>
        </div>

        <div class="flex m-t-half">
          <img class="avatar" alt="User avatar" (click)="c_file.click()"
               [src]="imageCSrc||'assets/images/avatar_placeholder_large.png'">
          <input #c_file hidden type="file" accept="image/*" (change)="onCFileChange($event)"
                 (click)="c_file.value=imageCSrc=null">
        </div>

        <div class="flex m-t-full">
          <button type="submit" mat-flat-button color="primary" [disabled]="!createForm.valid">Create</button>
        </div>

      </form>

    </div>

  </mat-tab>

  <mat-tab label="Issue Badge">

    <div class="tab-issue flex">

      <form class="issue-form flex" [formGroup]="issueForm" #formIDirective="ngForm"
            (ngSubmit)="onIssue(issueForm, formIDirective)">

        <div class="flex">
          <label for="i-recipient">Recipient</label>
          <mat-form-field class="full" appearance="fill" [floatLabel]="'never'">
            <input id="i-recipient" matInput placeholder="Search recipient (*)" aria-label="Recipient"
                   [matAutocomplete]="autoRecipient" formControlName="recipient">

            <mat-autocomplete #autoRecipient="matAutocomplete" [displayWith]="displayFn">
              <mat-option *ngIf="isRLoading" class="is-loading">Loading...</mat-option>
              <ng-container *ngIf="!isRLoading">
                <mat-option *ngFor="let recipient of filteredRecipients" [value]="recipient">
                  <div class="flex">
                    <img class="avatar" alt="Recipient image"
                         [src]="recipient.image||'assets/images/avatar_placeholder_large.png'">
                    {{recipient.name}}
                  </div>
                </mat-option>
              </ng-container>
            </mat-autocomplete>
            <mat-error *ngIf="i_recipient.invalid" [innerHTML]="getIErrorMessage('recipient')"></mat-error>
          </mat-form-field>

          <!--mat-form-field appearance="fill" [floatLabel]="'never'">
            <input id="i-issued-on" class="disabled" matInput type="text" formControlName="issuedOn" required readonly>
          </mat-form-field-->

          <!--div class="spacer hide-mobile"></div>

          <label for="i-expiration-date">Expires</label>
          <mat-form-field appearance="fill" [floatLabel]="'never'">
            <input id="i-expiration-date" matInput [matDatepicker]="i_picker" formControlName="expires"
                   placeholder="Expiry date (optional)" [min]="minDate">
            <mat-datepicker-toggle matSuffix [for]="i_picker"></mat-datepicker-toggle>
            <mat-datepicker #i_picker></mat-datepicker>
          </mat-form-field-->
        </div>

        <div class="flex">
          <label>OR</label>
          <button class="form-button" type="button" mat-flat-button color="accent" (click)="openDialogUpload()">
            Select CSV File
          </button>

          <div class="spacer hide-mobile"></div>

          <label for="i-badge">Badge</label>
          <mat-form-field appearance="fill" [floatLabel]="'never'">
            <mat-select id="i-badge" placeholder="Select a badge *" formControlName="badge" required
                        (click)="onBadgeClick()">
              <mat-option *ngFor="let badge of badges" [value]="badge._id"
                          (onSelectionChange)="onBadgeSelect($event)">
                {{badge.name}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="i_badge.invalid" [innerHTML]="getIErrorMessage('badge')"></mat-error>
          </mat-form-field>
        </div>

        <div class="flex">
          <label for="i-evidence">Evidence</label>
          <mat-form-field class="full" appearance="fill" [floatLabel]="'never'">
            <textarea id="i-evidence" matInput type="text" formControlName="evidence"
                      placeholder="Badge evidence" rows="2"></textarea>
          </mat-form-field>
        </div>

        <div class="flex">
          <label for="i-narrative">Narrative</label>
          <mat-form-field class="full" appearance="fill" [floatLabel]="'never'">
            <textarea id="i-narrative" matInput type="text" formControlName="narrative"
                      placeholder="Badge narrative" rows="2"></textarea>
          </mat-form-field>
        </div>

        <div class="flex" *ngIf="issueRecipients&&issueRecipients.length>0">
          <label for="i-narrative">Recipients</label>
          <div class="table-small full-table">
            <table mat-table [dataSource]="issueRecipients" class="m-t-zero">
              <!-- Name Column -->
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name *</th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
              </ng-container>

              <!-- Email Column -->
              <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef> Email *</th>
                <td mat-cell *matCellDef="let element"> {{element.email}} </td>
              </ng-container>

              <!-- School Name Column -->
              <ng-container matColumnDef="schoolName">
                <th mat-header-cell *matHeaderCellDef> School Name</th>
                <td mat-cell *matCellDef="let element"> {{element.schoolName}} </td>
              </ng-container>

              <!-- Grade Level Column -->
              <ng-container matColumnDef="gradeLevel">
                <th mat-header-cell *matHeaderCellDef> Grade Level</th>
                <td mat-cell *matCellDef="let element"> {{element.gradeLevel}} </td>
              </ng-container>

              <!-- Account Column -->
              <ng-container matColumnDef="account">
                <th mat-header-cell *matHeaderCellDef> Account</th>
                <td mat-cell *matCellDef="let element"> {{element.account ? element.account : 'Created'}} </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedCSVColumns; sticky: true"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedCSVColumns;"></tr>
            </table>
          </div>
        </div>

        <div class="flex m-t-full">
          <button type="submit" mat-flat-button color="primary" [disabled]="!issueForm.valid">Issue Badge</button>
        </div>

      </form>

    </div>

  </mat-tab>

</mat-tab-group>
