.tab-create,
.tab-update,
.tab-issue {
  justify-content: center;

  .create-form,
  .update-form,
  .issue-form {
    margin: 32px;
    width: 100%;
    max-width: 800px;
    flex-direction: column;
    @media (max-width: 600px) {
      margin: 16px;
    }

    button.form-button {
      height: 38px;
      width: 248px;
    }
  }

  mat-form-field {
    width: 248px;
  }

  button:not(.mat-icon-button) {
    min-width: 144px;
  }
}

.select-form {
  mat-form-field {
    width: 248px;
  }
}

.table-small {
  height: 248px;
  overflow: auto;
}
