<h1 mat-dialog-title>Upload CSV File</h1>
<div mat-dialog-content>

  <p class="red">{{errMsg}}</p>

  <input #file hidden type="file" accept=".csv" (change)="onFileChange($event)" (click)="file.value=null">

  <table mat-table [dataSource]="data.recipients" class="table-dark mat-elevation-z2">

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name</th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Email</th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>

    <!-- School Name Column -->
    <ng-container matColumnDef="schoolName">
      <th mat-header-cell *matHeaderCellDef> School Name</th>
      <td mat-cell *matCellDef="let element"> {{element.schoolName}} </td>
    </ng-container>

    <!-- Grade Level Column -->
    <ng-container matColumnDef="gradeLevel">
      <th mat-header-cell *matHeaderCellDef> Grade Level</th>
      <td mat-cell *matCellDef="let element"> {{element.gradeLevel}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>

</div>
<div mat-dialog-actions class="flex m-t-full">
  <button mat-button (click)="onNoClick()">Cancel</button>
  <div class="spacer"></div>
  <button mat-flat-button (click)="file.click()" color="accent">Browse</button>
  <button mat-flat-button color="primary" [mat-dialog-close]="data.recipients" cdkFocusInitial
          [disabled]="!data.recipients || data.recipients?.length===0">
    Import Recipients
  </button>
</div>

