<div *ngIf="assertion;else emptyBlock">
  <div class="content">
    <img class="badge-img" src="{{assertion.badge.image||'assets/images/avatar_placeholder_large.png'}}" alt="Badge">
    <div class="m-l-full">
      <h1 mat-dialog-title>{{assertion.badge.name}}</h1>
      <p>Awarded to: {{assertion.recipient.name}}</p>
      <p>Issued On: {{assertion.issuedOn | date}}</p>
      <p>{{(assertion.badge.description|language:selectedLanguage) || 'Badge description'}}</p>
      <p *ngIf="assertion.badge.criteria">{{assertion.badge.criteria}}</p>
    </div>

    <mat-list>
      <div mat-subheader>Organization</div>
      <mat-list-item class="cert-details">
        <img mat-list-icon
             src="{{assertion.badge.issuer.organization.image||'assets/images/avatar_placeholder_large.png'}}"
             alt="Org">
        <div mat-line matTooltip="{{assertion.badge.issuer.organization.name}}"> {{assertion.badge.issuer.organization.name}}</div>
        <div mat-line><a class="link hover-underline" [href]="assertion.badge.issuer.organization.url" target="_blank">
          {{assertion.badge.issuer.organization.url}}</a>
        </div>
      </mat-list-item>
      <div mat-subheader>Program</div>
      <mat-list-item class="cert-details">
        <img mat-list-icon src="{{assertion.badge.issuer.image||'assets/images/avatar_placeholder_large.png'}}"
             alt="Program">
        <div mat-line matTooltip="{{assertion.badge.issuer.name}}"> {{assertion.badge.issuer.name}}</div>
        <div mat-line><a class="link hover-underline" [href]="assertion.badge.issuer.url" target="_blank">
          {{assertion.badge.issuer.url}}</a>
        </div>
      </mat-list-item>
      <div mat-subheader>Language</div>
      <div class="cert-details hide-mobile">
        <mat-form-field appearance="fill" [floatLabel]="'never'">
          <mat-select [(value)]="selectedLanguage">
            <mat-option [value]="lang.value" *ngFor="let lang of languages">{{ lang.viewValue }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </mat-list>
  </div>

  <div class="m-t-double flex start">
    <h2 class="m-r-full title">Earning Criteria:</h2>
    <p class="m-t-half">{{assertion.badge.criteria ? (assertion.badge.criteria|language:selectedLanguage) : 'N/A'}}</p>
  </div>

  <div class="m-t-full flex start">
    <h2 class="m-r-full title">Narrative:</h2>
    <p class="m-t-half">{{assertion.narrative ? (assertion.narrative|language:selectedLanguage) : 'N/A'}}</p>
  </div>

  <div class="m-t-full flex start">
    <h2 class="m-r-full title">Evidence:</h2>
    <p class="m-t-half">{{assertion.evidence ? (assertion.evidence|language:selectedLanguage) : 'N/A'}}</p>
  </div>

  <mat-form-field class="show-mobile" appearance="fill" [floatLabel]="'never'">
    <mat-select [(value)]="selectedLanguage">
      <mat-option [value]="lang.value" *ngFor="let lang of languages">{{ lang.viewValue }}</mat-option>
    </mat-select>
  </mat-form-field>

</div>
<ng-template #emptyBlock>
  <div class="empty flex center">
    <section>
      <h1 class="mat-headline">We are sorry!</h1>
      <h2>This badge does not exist.</h2>
      <p class="mat-display-1">🥺 👻 😨</p>
      <button mat-flat-button color="accent" routerLink="/">Learn More</button>
    </section>
  </div>
</ng-template>
