.content {
  display: flex;
  justify-content: space-between;

  @media (max-width: 600px) {
    display: block;
  }

  .cert-details {
    max-width: 200px;
    overflow-x: hidden;
    @media (max-width: 600px) {
      max-width: 100%;
      margin: 0 !important;
    }

    mat-form-field {
      margin-left: 16px;
      width: calc(100% - 16px);
    }
  }

  .mat-list-icon {
    width: 40px !important;
    height: 40px !important;
  }

  img.badge-img {
    max-width: 248px;
    max-height: 248px;
    @media (max-width: 600px) {
      width: 100%;
      height: auto;
      max-width: 100%;
      max-height: unset;
    }
  }

  .title {
    min-width: 248px;
  }
}

mat-form-field {
  width: 100%;
}

.empty {
  padding-top: 172px;
  padding-bottom: 32px;
  justify-content: center;
  margin: 32px;
}
